@using System.Security.Claims;
@using AppDotNet.Models;
@using AppDotNet.Data;
@model IEnumerable<AppDotNet.Models.PostModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var UserId = User.FindFirstValue(ClaimTypes.NameIdentifier); //@UserId     

}
@inject LanguageService language


<link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />


<div class="container">
@foreach (var item in Model) {
    
        <div class="col-md-5 post">
            <div class="panel panel-default">
            <div class="panel-body">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                           
                            <div class="remove_post_form" id="@Html.DisplayFor(modelItem => item.ID)">

                                <form asp-controller="Posts" action="/posts/delete/@Html.DisplayFor(modelItem => item.ID)" method="post">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="remove_post_btn">
                                        <i class="fa-solid fa-x"></i>
                                    </button>
                                    <input name="blog" type="text" class="remove_blog_hidden"></input>
                                </form>
                            </div>
                            
                           
                    }
                }
                <section class="post-heading">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="media">
                                <div class="media-left">
                                </div>
                                <div class="media-body">
                                      <a 
                                          href="/posts/@Html.DisplayFor(modelItem => item.ID)" class="anchor-username"
                                          onclick="localStorage.setItem('selected_post',@Html.DisplayFor(modelItem => item.ID))"><h4 class="media-heading">@Html.DisplayFor(modelItem => item.Name)</h4></a>
                                        
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <a href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                        </div>
                    </div>
                </section>
                <section class="post-body">
                        @Html.Raw(item.Description)

                </section>
                <section class="post-footer">

                    <div class="post-footer-option container">
                        <ul class="list-unstyled">
                                @{
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        if (!item.AlreadyLiked)
                                        {
                                            <div class="like-div not_liked">
                                                
                                                 <span id="post-@Html.DisplayFor(modelItem => item.ID)">@Html.DisplayFor(modelItem => item.NbLikes)</span>
                                                <i class="fa-solid fa-thumbs-up" id="@Html.DisplayFor(modelItem => item.ID)"></i>

                                                
                                            </div>
                                        } else
                                        {
                                            <div class="like-div already_liked">

                                                    <span id="post-@Html.DisplayFor(modelItem => item.ID)">@Html.DisplayFor(modelItem => item.NbLikes)</span>
                                                    <i class="fa-solid fa-thumbs-up" id="@Html.DisplayFor(modelItem => item.ID)"></i>
                                                   
                                            </div>
                                        }

                                    }
                                }
                            
                            
                           
                            
                               
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
}
 
@{
    if (User.Identity.IsAuthenticated)
    {
    <div class="add-post" onclick="document.querySelector('#addPost').classList.toggle('show-pop-up');document.querySelector('#add_blog_hidden').value=localStorage.getItem('blog_selected')">
        <i class="fa-solid fa-plus"></i>
    </div>
    }
 }

</div>



<!--Ajouter-->

<div class="modal fade" id="addPost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog center-all cascading-modal modal-avatar modal-sm add-post-modal" role="document">
        <!--Content-->
        <div class="modal-content costum-model-content">

            <!--Header-->
            <div class="modal-header ">
                <i class="fa-solid fa-xmark close-add-post"></i>
                <img src="../../images/post.PNG" alt="avatar" class="rounded-circle img-responsive post-img">
            </div>
            <!--Body-->
            <div class="modal-body text-center mb-1">
                <form action="/posts/create" method="post">
                        @Html.AntiForgeryToken()

                    <div class="md-form ml-0 mr-0">
                        <label data-error="wrong" data-success="right" class="ml-0 mt-2 mb-2">@language.Getkey("PostName")</label>
                        <input type="text" type="text" name="Name" class="form-control form-control-sm validate ml-0">
                        <input name="blog" type="text" id="add_blog_hidden"></input>

                    </div>
                    <div class="md-form md-form mt-3 mr-0">
                        <label data-error="wrong" data-success="right" class="ml-0 mb-2">Description</label>
                        <textarea rows="5" cols="50" name="Description" id="description_post"></textarea>
                        <div id="example2"></div>

                    </div>
                    <div class="text-center mt-2">
                        <button type="submit" class="btn btn-primary mt-1 ">@language.Getkey("Add") </button>
                    </div>
                </form>
            </div>

        </div>
        <!--/.Content-->
    </div>
</div>

<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>

<script>
     
    let inputDescriptionPost = document.querySelector("#description_post");
    var editor2 = new FroalaEditor('#example2', {
        events: {
            'charCounter.update': function () {
                inputDescriptionPost.value = this.el.innerHTML;//innerHTML
            }
        }
    });

    //pop up selectors
    document.querySelectorAll(".remove_blog_hidden").forEach(function (element) {
        element.value = localStorage.getItem('blog_selected');

    });

    document.querySelector(".close-add-post").addEventListener('click', () => {

        document.querySelector("#addPost").classList.toggle("show-pop-up");
    });

    document.querySelector(".close-assignate").addEventListener('click', () => {

        document.querySelector("#addPost").classList.toggle("show-pop-up");
    });

    document.querySelector(".close-modifier").addEventListener('click', () => {

        document.querySelector("#modifierBlog").classList.toggle("show-pop-up");
    });

   // let inputDescription = document.querySelector("#description_post");
   



</script>

